#footer {width: 100%; background-color:#040037;margin-top: 50px;}
#footer #test, #footer #test2, #footer #test3, #footer #testmail {display: table;width: 100%;max-width: 1150px;margin: auto;padding: 50px 0 40px;background-color:#040037;}
#footer #test .col {display:table-cell;vertical-align:top;width: 20%;padding: 0 7px;}
#footer #test .col h2, #footer #testmail h2 {font-size:16px;padding-bottom: 10px;width: 80%;color: white;font-weight: bold;}
#footer #test .col h2 a {color: white;}
#footer #test .col li {font-size: 14px;text-decoration: none;color:#c7c3d4;padding-bottom: 6px;}
#footer #test .col li a:hover {text-decoration: underline !important;}
#footer #test .col ul li a {color: #c7c3d4;}
#footer #test .col ul li.reseau a {font-size: 30px;margin: 5px 20px 10px 0;color: white;text-decoration: none;}
#footer #test .col ul li.reseau a:hover {text-decoration: none !important;}

#footer #test2, #footer #test2 a, #footer #test3, #footer #test3 a  {font-size: 11px;line-height: 1.7em;text-decoration: none;color:#64627c;padding: 0;}
#footer #test2 p, #footer #test3 p {padding:0 7px 12px;}

#footer #testmail div {display: inline-block;width: 40%;}
#footer #testmail div p {color: #c3c7d4;font-size: 15px;}
#footer #testmail form {display: inline-block;}

#footer #test input#footerEmailNewsletter {width: 100%;padding: 10px;border: 0;color:#040037;}
#footer .seo_footerjs * {color: #64627c;width: 100% !important; max-width:1150px !important;}

#footer #test .col:last-of-type {padding-left: 50px;border-left: 1px solid #c7c3d4;}

#footer #footer_form_newsletter input[type=submit] {background-color: #040037 !important;color: white !important;display: inline-block !important;font-size: 14px !important;font-weight: bold !important;
height: auto !important;width: 100% !important;padding: 10px !important;cursor: pointer !important;margin: 0 !important;border: 1px solid white !important;margin-top: 10px !important;}
#footer #test .col .mentionnews {display: none;-webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;opacity: 0;}
#footer #test .col:last-of-type:hover .mentionnews {position: absolute;background-color: #fff;padding: 49px 32px;left: 50%;border-radius: 5px;color: #04003799;font-size: 11px !important;display: block;
width: 469px;margin: 0px 0 0 -117px;opacity: 1;}
#footer .row {max-width: 1150px;}
#bonjour {text-align: center;margin: 0;background-color: rgba(255, 255, 255, 0.8588235294117647);padding: 10px 0;width: 100%;height: 100vh;position: absolute;top: 0;z-index: 999;display: table;}
#bonjour .mess{display: table-cell;vertical-align: middle;}
#bonjour p {margin: auto;font-size: 110px;font-weight: bolder;line-height: 1.3em;font-family: inherit;display: inline-block;color: #151638;}
p.nom::first-letter{text-transform: uppercase;}
#bonjour p.phrase_du_jour {font-weight: inherit;font-size: 44px;padding: 0 15px;}