body{
margin: 0%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-2-5 {width: 20%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  
.header{
    width: auto;
    line-height: 1.5;
    background-color: #191919;
}
.txt-junno{
    margin-left: 10%;
    color: white;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    font-size: 11px;
    display: inline-block;
}
.opciones{
    color: white;
    font-size: 11px;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    display: inline-block;
    float: right;
    margin-right: 10%;
} 
.account{
    display: inline-block;
    padding-right: 20px;
}
.lang{
    display: inline-block;
    padding-right: 20px;
}
.currency{
    display: inline-block;
}
/* ----------------------------------------------------------------------- */

.menu{
    width: 100%;
    background-color: white;
    margin:auto;
    
}
.menu-dalt{
    width: 80%;
    margin:auto;
    background-color: white;
    padding-top: 49px;
    margin-bottom: -12px;
    position: relative;
}
.logo{
    background-image: url(../img/logo.png);
    width: 100px;
    height: 26px;
    display: inline-block;
    position: absolute;
    margin-top: -31px;
    margin-left: -1px;
}
 .search{
    background-image: url(../img/search.png);
    width: 422px;
    height: 37px;
    display: inline-block;
    position: absolute;
    margin-top: -37px;
    margin-left: 186px;
 }
 .img-call{
    background-image: url(../img/icon-hotline.png);
    width: 37px;
    height: 37px;
    position: absolute;
    top: 16px;
    margin-left: 850px ;
 }
 .call{
    width: 117px;
    position: absolute;
    margin-left: 891px;
    margin-top: -44px;
    font-size: small;
 }
 .img-cor-compra{
    background-image: url(../img/call-cor.png);
    width: 5.8%;
    height: 25px;
    position: absolute;
    top: 16px;
    margin-left: 1004px ;
    margin-top: 8px;
 }
.menu-baix{
    width: 80%;
    background-color: yellowgreen;
    margin-top: 50px;
    position: relative;
}
.menu-home{
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: red;
    position: absolute;
    margin-left: 326px;
    margin-top: -34px;
}
.menu-shop{
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    font-size: 10px;
    position: absolute;
    margin-left: 386px;
    margin-top: -34px;
}
.menu-blog{
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    font-size: 10px;
    position: absolute;
    margin-left: 446px;
    margin-top: -34px;
}
.menu-pages{
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    font-size: 10px;
    position: absolute;
    margin-left: 506px;
    margin-top: -34px;
}
.menu-contact{
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    font-size: 10px;
    position: absolute;
    margin-left: 566px;
    margin-top: -34px;
}




/* ----------------------------------------------------------------------- */

.container {
    width: auto;
    margin: auto;
    margin-top: 0px;
    
}

.img {
    width: 100%;
    height: 436px;
}

.img-bg {
    background-image: url(../img/portada2.jpg);
    background-size: cover;
    margin-top: 0px;
    padding-top: 14px;
    position: relative;
}


.main-text {
    color: #ffffff   
    
}

.main-text > h3 {
    font-size: 46px;
    position: absolute;
    top: 22%;
    left: 14%;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
}
.main-text > h4 {
    font-size: 46px;
    position: absolute;
    top: 29%;
    left: 14%;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
}
.main-text > p {

    width: 550px;
    display: flex;
    font-size: 15px;
    top: 26%;
    left: 14%;
    position: absolute;

}

.button {
    
    padding: 9px 17px 9px 17px;
    color: black;
    background-color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    position: absolute;
    top: 60%;
    left: 14%;
    
}
/* ______________________________________________________________
 */


.ofertas{
    background-color: white;
    width: 80%;
    height: 300px;
    margin-top: 50px;;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
 .oferta1{
    height: 300px;
    position: relative;
    padding-right: 20px;
    
}
.oferta1 > img{
    width: 100%;
    height: 100%;
}

.oferta2{
    height: 300px;
    position: relative;
    padding-right: 20px;
}
.oferta2 > img{
    width: 100%;
    height: 100%;
    
}
.oferta3{
    height: 300px;
    position: relative;
}
.oferta3 > img{
    width: 100%;
    height: 100%;
} 
.oferta1> h4 {
    font-size: 20px;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    color: white;
    line-height: 0px;
    position: absolute;
    left: 7%;
    top: 31%;
}
.oferta1> h5 {
    font-size: 20px;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    color: white;
    line-height: 0px;
    position: absolute;
    left: 7%;
    top: 36%;
}
.oferta1> h6 {
    font-size: 10px;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    color: white;
    line-height: 0px;
    position: absolute;
    left: 7%;
    top: 46%;
}
.button-ofertas1{
    padding: 7px 20px 7px 20px;
    color: black;
    background-color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    left: 7%;
    top: 65%;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
}
.oferta2> h4 {
    font-size: 22px;
    color: white;
    line-height: 0px;
    position: absolute;
    left: 10%;
    top: 55%;
}
.oferta2> h5 {
    font-size: 22px;
    color: white;
    line-height: 0px;
    position: absolute;
    left: 10%;
    top: 60%;
}
.button-ofertas2{
    padding: 7px 20px 7px 20px;
    color:white;
    font-size: 10px;
    position: absolute;
    left: 2%;
    top: 80%;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
}


/* ___________________________________________________________________________
 */

 .new-products{
    background-color: wheat;
    width: 80%;
    height: 755px;
    margin-left: 10%;
 }
 .title {
     background-color:white;
     width: 100%;
     height: 110px;
     text-align: center;
     margin-bottom: -2%;
    margin-top: -1%;
 }
 .title > h3{
     font-size: 150%;
     font-family: Gilroy, Arial, Helvetica, sans-serif;
 }
 .title > h4{
    font-size:72%;
    margin-top: -2%;
    color: #9d9d9d;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
 }
 .submenu-new{
     font-size: 57%;
     color: #666;
     font-family:  Arial;
     position: relative;
 }
 .submenu-men{
     position: absolute;
     top: 14%;
     left: 38%;
     border-radius:5px;

     color: #f33535;
 }
 .submenu-women{
    position: absolute;
    top: 14%;
    left: 44%;  
}
.submenu-running{
    position: absolute;
    top: 14%;
    left: 51%;
}
.submenu-gym{
    position: absolute;
    top: 14%;
    left: 58%;
}
 .new-shoes{
    background-color:white;
    width: 100%;
    height: 670px;
 }
 .shoes-img > img{
     width: 100%;
     height: 100%;
 }
 .shoes-txt{
     position: relative;
     font-size: 12px;
 }
 .shoes-txt > a{
    color: #1d1d1d;
    font-family: Arial, Helvetica, sans-serif; 

 }
 .starts{
     margin-top: 4%
 }
 
 .checked {
    color: yellow;
  }
  .shoes-txt > h4{
    margin-top: 3%;
 }
 .carrito{
    position: absolute;
    top: 65%;
    margin-left: 68%;
 }


/* ------------------------------------------------------------------------------- */

.sudaderas{
    background-color: white;
    width: 80%;
    height: 450px;
    margin-left: 10%;
 }

 .sudadera-men{
    height: 100%;
    position: relative;
    padding-right: 20px;
}
.sudadera-men > img{
    width: 100%;
    height: 100%;
}

.sudadera-women{
    height: 100%;
    position: relative;
    padding-right: 20px;
}
.sudadera-women > img{
    width: 100%;
    height: 100%;
}
.running{
    height: 100%;
    position: relative;
}
.running > img{
    width: 100%;
    height: 100%;
    margin-bottom: 4%;
}
.accesori{
    height: 100%;
    position: relative;
}
.accesori > img{
    width: 100%;
    height: 100%;
    margin-top: -4.5%;
}

.button-sudadera{   
    padding: 6px 20px 6px 20px;
    color: black;
    background-color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Gilroy, Arial, Helvetica, sans-serif;
}
/* ------------------------------------------ */

.best-sellers{
    background-color: greenyellow;
    width: 80%;
    height: 600px;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
   
 }
 .hot-deals{
     background-color: hotpink;
     height: 100%;
     position: relative;
     margin-right: 6%;
     border: 2px solid #f33535;
     border-radius: 13px;
 }
 .hot-deals> h4{
   position: absolute;
   margin-left: 3%;
   margin-top: 5%;
   font-size: 125%;
   font-family: Gilroy, Arial, Helvetica, sans-serif;
}

 
 .hot-deals> img{
    width: 100%;
    height: 100%;
   border-radius: 5%;
    border-color: red;
 }
 .best-seller-caixa{
     background-color: white;
     margin-top: -3%;
 }
 .title-best{
     background-color: white;
     height: 10%;
     text-align: center;
 }
 .title-best >h3 {
    font-size: 150%;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
}

.title-best > h4{
   font-size:72%;
   margin-top: -2%;
   color: #9d9d9d;
   font-family: Gilroy, Arial, Helvetica, sans-serif;
}
.shoes-best-sellers{
    margin-top: -2%;
}