body{
margin: 0%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-2-5 {width: 20%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  
.header{
    width: auto;
    line-height: 1.5;
    background-color: #191919;
}
.txt-junno{
    margin-left: 10%;
    color: white;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    font-size: 11px;
    display: inline-block;
    padding-left: 1%;
}
.opciones{
    color: white;
    font-size: 11px;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    display: inline-block;
    float: right;
    margin-right: 10%;
} 
.account{
    display: inline-block;
    padding-right: 20px;
}
.lang{
    display: inline-block;
    padding-right: 20px;
}
.currency{
    display: inline-block;
}
/* ----------------------------------------------------------------------- */

.menu{
    background-color: white;
}
.menu-dalt{
    width: 80%;
    margin-left: 10%;
    height: auto;
    background-color: white;
}
.logo{
    background-color: white;
    margin-top: 1%;
}
.logo > img{
    width: auto;
    height: auto;
}
.search{
    background-color: white;
    padding-top: 4%;
    padding-left: 10%;
}
.call-menu{
   
    position: relative;
}
.phone-menu > img{
    padding-left: 50%;
}
.txt-phone{
    
    margin-left: -15%;
}
.txt-phone > h5{
    position: absolute;
    top: -50%;
    margin-left: 75%;
    color: #626262;
    font-size: 80%;
}
.txt-phone > p{
    position: absolute;
    top: 5%;
    margin-left: 75%;
    font-size: 85%;
}
.call-cor > img{
    left: 87%;
    top: 10%;
    position: absolute;
}
.menu-baix{
    width: 80%;
    margin-left: 10%;
    margin-top: -2%;
    height: auto;
    background-color: white;
}

#lista1 {
    font-family:Arial;
    font-weight:bold;
    font-size:11px;
    margin-left: 16%;
}

#lista1 li {
     display:inline;
     padding-left:15px;
     padding-right:3px;
}
a {
    color:black;
    text-decoration:none;
}
a:hover {
    background-color:lightgray;
}
 
 




/* ----------------------------------------------------------------------- */

.container {
    width: auto;
    margin: auto;
    margin-top: 0px;
    
}

.img {
    width: 100%;
    height: 436px;
}

.img-bg {
    background-image: url(../img/portada2.jpg);
    background-size: cover;
    margin-top: 0px;
    padding-top: 14px;
    position: relative;
}


.main-text {
    color: #ffffff   
    
}

.main-text > h3 {
    font-size: 46px;
    position: absolute;
    top: 22%;
    left: 14%;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
}
.main-text > h4 {
    font-size: 46px;
    position: absolute;
    top: 29%;
    left: 14%;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
}
.main-text > p {

    width: 550px;
    display: flex;
    font-size: 15px;
    top: 26%;
    left: 14%;
    position: absolute;

}

.button {
    
    padding: 9px 17px 9px 17px;
    color: black;
    background-color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    position: absolute;
    top: 60%;
    left: 14%;   
}
.audio{
    position: absolute;
    top: 70%;
    left: 14%;   
}
/* ______________________________________________________________
 */


.ofertas{
    background-color: white;
    width: 80%;
    height: 300px;
    margin-top: 50px;;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;

    flex-flow: wrap;
}
 .oferta1{
    height: 300px;
    position: relative;
    padding-right: 20px;
    
}
.oferta1 > img{
    width: 100%;
    height: 100%;
}

.oferta2{
    height: 300px;
    position: relative;
    padding-right: 20px;
}
.oferta2 > img{
    width: 100%;
    height: 100%;
    
}
.oferta3{
    height: 300px;
    position: relative;
}
.oferta3 > img{
    width: 100%;
    height: 100%;
} 
.oferta1> h4 {
    font-size: 20px;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    color: white;
    line-height: 0px;
    position: absolute;
    left: 7%;
    top: 31%;
}
.oferta1> h5 {
    font-size: 20px;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    color: white;
    line-height: 0px;
    position: absolute;
    left: 7%;
    top: 36%;
}
.oferta1> h6 {
    font-size: 10px;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    color: white;
    line-height: 0px;
    position: absolute;
    left: 7%;
    top: 46%;
}
.button-ofertas1{
    padding: 7px 20px 7px 20px;
    color: black;
    background-color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    left: 7%;
    top: 65%;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
}
.oferta2> h4 {
    font-size: 22px;
    color: white;
    line-height: 0px;
    position: absolute;
    left: 10%;
    top: 55%;
}
.oferta2> h5 {
    font-size: 22px;
    color: white;
    line-height: 0px;
    position: absolute;
    left: 10%;
    top: 60%;
}
.button-ofertas2{
    padding: 7px 20px 7px 20px;
    color:white;
    font-size: 10px;
    position: absolute;
    left: 2%;
    top: 80%;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
}


/* ___________________________________________________________________________
 */

 .new-products{
    background-color: white;
    width: 80%;
    margin-left: 10%;
 }
 .title {
     background-color:white;
     width: 100%;
     height: 110px;
     text-align: center;
     margin-bottom: -2%;
    margin-top: -1%;
 }
 .title > h3{
     font-size: 150%;
     font-family: Gilroy, Arial, Helvetica, sans-serif;
 }
 .title > h4{
    font-size:72%;
    margin-top: -2%;
    color: #9d9d9d;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
 }
 .submenu-new{
     font-size: 57%;
     color: #666;
     font-family:  Arial;
     position: relative;
 }
 .submenu-men{
     position: absolute;
     top: 14%;
     left: 38%;
     border-radius:5px;

     color: #f33535;
 }
 .submenu-women{
    position: absolute;
    top: 14%;
    left: 44%;  
}
.submenu-running{
    position: absolute;
    top: 14%;
    left: 51%;
}
.submenu-gym{
    position: absolute;
    top: 14%;
    left: 58%;
}
 .new-shoes{
    background-color:white;
    width: 100%;
    height: 670px;
 }
 .shoes-img > img{
     width: 100%;
     height: 100%;
     background-color:white;
 }
 .shoes-txt{
     position: relative;
     font-size: 12px;
     background-color:white;
 }
 .shoes-txt > a{
    color: #1d1d1d;
    font-family: Arial, Helvetica, sans-serif; 

 }
 .starts{
     margin-top: 4%
 }
 
 .checked {
    color: yellow;
  }
  .shoes-txt > h4{
    margin-top: 3%;
 }
 .carrito{
    position: absolute;
    top: 65%;
    margin-left: 68%;
 }


/* ------------------------------------------------------------------------------- */

.sudaderas{
    background-color: white;
    width: 80%;
    margin-top: 15px;
    margin-left: 10%;
 }

 .sudadera-men{
    height: 100%;
    position: relative;
    padding-right: 20px;
}
.sudadera-men > img{
    width: 100%;
    height: 100%;
}

.sudadera-women{
    height: 100%;
    position: relative;
    padding-right: 20px;
}
.sudadera-women > img{
    width: 100%;
    height: 100%;
}
.running{
  
    position: relative;
}
.running > img{
    height: auto;
    max-width: 100%;
    display: block;
}
.accesori{
  
    position: relative;
}
.accesori > img{
    height: auto;
    max-width: 100%;
    display: block;
}

.button-sudadera{   
    padding: 6px 20px 6px 20px;
    color: black;
    background-color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Gilroy, Arial, Helvetica, sans-serif;
}
/* ------------------------------------------ */

.best-sellers{
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
   
 }
 .hot-deals{
     background-color: white;
     height: auto;
     position: relative;
     margin-right: 6%;
     border: 2px solid #f33535;
     border-radius: 13px;
 }
 .hot-deals> h4{
   position: absolute;
   margin-left: 3%;
   margin-top: 5%;
   font-size: 125%;
   font-family: Gilroy, Arial, Helvetica, sans-serif;
}
.caixa-hot-deals{
    height: auto;
    text-align: center;
}
.txt-hot-deals > p{
    font-size: 73%;
    color: #1d1d1d;
}


 
 .hot-deals> img{
    width: 100%;

 }
 .best-seller-caixa{
     background-color: white;
     margin-top: -3%;
 }
 .title-best{
     background-color: white;
     height: 10%;
     text-align: center;
 }
 .title-best >h3 {
    font-size: 150%;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
}

.title-best > h4{
   font-size:72%;
   margin-top: -2%;
   color: #9d9d9d;
   font-family: Gilroy, Arial, Helvetica, sans-serif;
}

.compartir-lupa-available > img{
    width: 100%;
}


/* -------------------------------------------------------------- */
.icons{
    background: #f33535;
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
    align-items: center;
 }
 .txt-caixa-red > h4 {
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    padding-top: 5%;
    margin-left: 33%;
    font-size: 89%;
    color: white;
}
 
 .txt-caixa-red > h6 {
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    margin-left: 33%;
    margin-top: -5%;
    font-size: 62%;
    color: white;
}
.caixa-red-img{
    margin-left: 9%;
    margin-top: -22%;
}

/* ------------------------------------------------------------ */

.latest-blogs{
    background: white;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-bottom: 2%;

}
.title-latest-blogs {
    background-color: white;
    width: 100%;
    text-align: center;
    margin-top: 5%;
}
.title-latest-blogs > h3{
    font-size: 150%;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
}
.title-latest-blogs> h4{
   font-size:72%;
   margin-top: -2%;
   color: #9d9d9d;
   font-family: Arial, Helvetica, sans-serif;
}

.blog-img{
    padding-right: 25px;
 
}

.blog-img > img{
width: 100%;

}
.txt-blog > a{
    color:#f33535; 
    font-size: 65%;
}
.txt-blog > h4{
    font-size: 80%;
    margin-bottom: -3%;
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;

}
.txt-blog > h6{
    color: #626262;
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    font-size: 9px;
}

/* ------------------------------------------------------------ */

.codis{
    background: white;
    width: 80%;
    height: auto;
    margin-left: 10%;
    padding: 25px 0px 25px 0;
    border-top: 1px solid #ebebeb;
}
/* ------------------------------------------------------------ */

.footer{
    background:#f6f6f6;
    width: auto;
    height: auto;

}
.footer-bo{
    background:#efefef;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.information{
    background-color: #f6f6f6;
    width: auto;
    height: auto;
    padding: 40px 20px 35px 0;
    position: relative;
}

.junno-title > img{
    width: 30%
}

.txt-information > h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 1.7;
}

.need-txt > h4{
    font-size: 94%;
    color: #626262;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 37%;
    margin-left: 14%;
}
.need-txt > p{
    font-size: 107%;
    color: #1d1d1d;
    position: absolute;
    top: 43%;
    margin-left: 14%;
}
.media{
    margin-top: 7%;

}
.media > img{
    width: auto;
}

.copyright > h6{
    font-family:Arial, Helvetica, sans-serif;
}


.about-us{
    width: auto;
    height: auto;
    padding: 40px 20px 35px 20px;
    position: relative;
}
.title-footer > h3{

    font-size: 75%;
    line-height: 1;
    padding-bottom: 12px;
    border-bottom: 1px solid #e3e3e3;
    font-family: Arial, Helvetica, sans-serif;
}
.list-footer > p{

    line-height: 1;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    font-size: x-small;
}
.visa > img{
    width: auto;
    height: auto;
    position: absolute;
    top: 100%;
    margin-left: -3%;
}

.newsletter{
    background-color:#efefef;
    width: auto;
    height: auto;
    padding: 40px 0px 35px 20px;
    margin-right: -72px;
}
.title-newsletter > h3{

    font-size: 75%;
    line-height: 1;
    padding-bottom: 12px;
    border-bottom: 1px solid #e3e3e3;
    font-family: Arial, Helvetica, sans-serif;
}
.android-app > img{
    width: 100%;
    display: none;
}
.email-addres > img{
    width: 100%;
    display: none;
}


