.container {
    width: 800px;
    margin: auto;
    
}

.img {
    width: 100%;
    border: 0.1px solid ; 
    height: 550px;
}

.img-bg {
    background-image: url("../img/portada.jpg");
    background-size: cover;
}

hr {
    margin: 55px;
    clear: both; 
    visibility: hidden; 
}

.main-text {
    width: 600px;
    margin: auto;
    margin-top: 100px;
    color: #ffffff;
    text-align: center;
    
}

.main-text > h3 {
    font-size: 40px;
}

.main-text > p {
    width: 550px;
    margin: auto;
    display: flex;
    font-size: 20px;
    padding-bottom: 40px;
    
}

.button {
    
    padding: 9px 17px 9px 17px;
    color: rgb(68, 185, 221);
    background-color: #ffffff;
    text-decoration: none;
    
    font-size: 10px;
    
}

.items-container {
    display: flex;
    justify-content: center;
    
}

.item { 
    width: 250px;
    text-align: center;
    margin: 5px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding-top: 30px;
    border: 1px solid rgb(0, 133, 241);
    border-radius: 20px;
}

.item > h3 {
    text-transform: capitalize;
}

.item > p {
    width: 200px;
    margin: auto;
    color:grey;
    font-size: 10px;
    text-align: center;
}

.item > img {
    
    max-width: 70px;
}